@import "./config.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html {
	overflow-x: hidden;
}
* {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}
body {
	font-family: "Roboto", sans-serif;
}
